# import turicreate

In [1]:
import turicreate
from turicreate import SFrame

In [2]:
sales = SFrame('home_data.sframe')
sales

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	float
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	float
	sqft_above	float
	sqft_basement	float
	yr_built	float
	yr_renovated	float
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    1180.0   |  5650.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    2570.0   |  7242.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    770.0    | 10000.0  |  1.0   |     0      |  0   |     3     |  6.0  |
|    1960.0   |  5000.0  |  1.0   |     0      |  0   |     5     |  7.0  |
|    1680.0   |  8080.0  |  1.0   |     0      |  0   |     3     |  8.0  |
|    5420.0   | 101930.0 |  1.0   |     0      |  0   |     3     |  11.0 |
|    1715.0   |  6819.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    1060.0   |  9711.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1780.0   |  7470.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1890.0   |  6560.0  |  2.0   |     0      |  0   |     3     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   1180.0   |      0.0      |  1955.0  |     0.0      |  98178  | 47.51123398 |
|   2170.0   |     400.0     |  1951.0  |    1991.0    |  98125  | 47.72102274 |
|   770.0    |      0.0      |  1933.0  |     0.0      |  98028  | 47.73792661 |
|   1050.0   |     910.0     |  1965.0  |     0.0      |  98136  |   47.52082  |
|   1680.0   |      0.0      |  1987.0  |     0.0      |  98074  | 47.61681228 |
|   3890.0   |     1530.0    |  2001.0  |     0.0      |  98053  | 47.65611835 |
|   1715.0   |      0.0      |  1995.0  |     0.0      |  98003  | 47.30972002 |
|   1060.0   |      0.0      |  1963.0  |     0.0      |  98198  | 47.40949984 |
|   1050.0   |     730.0     |  1960.0  |     0.0      |  98146  | 47.51229381 |
|   1890.0   |      0.0      |  2003.0  |     0.0      |  98038  | 47.36840673 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# ### First attempt at finding average price of houses in 'most expensive' zip code

In [5]:
print(sales.groupby("zipcode",{'average_price_by_zipcode':turicreate.aggregate.AVG('price')}))

+---------+--------------------------+
| zipcode | average_price_by_zipcode |
+---------+--------------------------+
|  98033  |    803719.5324074074     |
|  98032  |        251296.24         |
|  98065  |    527961.2032258066     |
|  98077  |    682774.8787878784     |
|  98144  |    594547.6413994167     |
|  98136  |    551688.6730038025     |
|  98115  |    619900.5506003434     |
|  98075  |    790576.6685236769     |
|  98034  |    521652.8587155962     |
|  98058  |    353608.63516483514    |
+---------+--------------------------+
[70 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [7]:
print(sales.groupby("zipcode",{'average_price_by_zipcode':turicreate.aggregate.AVG('price')}).print_rows(num_rows = 70))

+---------+--------------------------+
| zipcode | average_price_by_zipcode |
+---------+--------------------------+
|  98033  |    803719.5324074075     |
|  98032  |        251296.24         |
|  98065  |    527961.2032258064     |
|  98077  |    682774.8787878791     |
|  98144  |    594547.6413994172     |
|  98136  |    551688.6730038025     |
|  98115  |    619900.5506003429     |
|  98075  |    790576.6685236769     |
|  98034  |    521652.8587155963     |
|  98058  |    353608.63516483543    |
|  98052  |    645231.4529616722     |
|  98199  |     791820.832807571     |
|  98023  |    286732.7915831664     |
|  98106  |    319581.3940298507     |
|  98004  |    1355927.0977917984    |
|  98109  |    879623.6238532111     |
|  98024  |    580526.7901234567     |
|  98059  |    493552.5213675214     |
|  98007  |    617105.0851063828     |
|  98122  |     634360.175862069     |
|  98028  |     462480.035335689     |
|  98008  |    645507.3780918724     |
|  98133  |    386997.3967611336     |
|  98146  |    359483.23958333343    |
|  98119  |    849448.0108695652     |
|  98045  |    439471.0814479638     |
|  98003  |    294111.2785714285     |
|  98188  |    289078.3455882352     |
|  98102  |    901258.2380952381     |
|  98038  |    366867.6000000001     |
|  98010  |        423665.99         |
|  98117  |     576795.007233273     |
|  98027  |    616990.5873786411     |
|  98040  |    1194230.0035460994    |
|  98031  |    300539.8905109488     |
|  98107  |    579053.4172932333     |
|  98125  |    469455.77073170734    |
|  98155  |    423725.69506726455    |
|  98118  |    417637.43307086616    |
|  98126  |    424706.3559322034     |
|  98029  |    612653.6105919003     |
|  98148  |    284908.5964912281     |
|  98002  |    234284.0351758794     |
|  98168  |    240328.3717472119     |
|  98108  |    355678.51612903224    |
|  98105  |    862825.2314410483     |
|  98070  |     487479.627118644     |
|  98198  |    302878.88214285707    |
|  98116  |    618634.1787878787     |
|  98001  |    280804.69060773455    |
|  98014  |    455617.1129032258     |
|  98178  |    310612.75572519086    |
|  98177  |     676185.392156863     |
|  98072  |    569958.4578754582     |
|  98005  |     810164.880952381     |
|  98166  |    464231.8385826772     |
|  98103  |    584919.2109634556     |
|  98006  |    859684.7630522088     |
|  98030  |    296187.98046875006    |
|  98011  |    490351.4666666667     |
|  98019  |    424788.74736842106    |
|  98055  |    304262.1082089551     |
|  98042  |    311632.10583941604    |
|  98056  |    420890.54926108377    |
|  98074  |     685605.775510204     |
|  98092  |    334921.06267806276    |
|  98022  |    315709.3034188033     |
|  98039  |    2160606.5999999996    |
|  98112  |    1095499.3680297397    |
|  98053  |    678163.0592592593     |
+---------+--------------------------+
[70 rows x 2 columns]

None

In [8]:
highPriceZip = '98039'
high_sales = sales[sales['zipcode'] == highPriceZip]
print('Average of sales prices in zipcode with highest average price: ', high_sales['price'].mean())

Average of sales prices in zipcode with highest average price:  2160606.5999999996

## 2.Filtering Data
### * Using such filters, first select the houses that have ‘sqft_living’ higher than 2000 sqft but no larger than 4000 sqft.
### * What fraction of the all houses have ‘sqft_living’ in this range?

In [9]:
filtered_sqft_living = sales[(sales['sqft_living'] > 2000) & (sales['sqft_living'] < 4000) ]

number_filtered = len(filtered_sqft_living)

print(number_filtered)

fraction = number_filtered/(len(sales['sqft_living'])*1.0)

print(fraction)

9111
0.4215518437977143

# 3. Building a regression model with several more features:
### Compute the RMSE (root mean squared error) on the test_data for the model using just my_features, and for the one using advanced_features.

In [11]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [12]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition',
'grade',
'waterfront',
'view',
'sqft_above',
'sqft_basement',
'yr_built',
'yr_renovated',
'lat', 'long',
'sqft_living15',
'sqft_lot15',
]

## Split data into training and testing.
### We use seed=0 so that everyone running this notebook gets the same results.  In practice, you may set a random seed (or let GraphLab Create pick a random seed for you).

In [13]:
train_data,test_data = sales.random_split(.8,seed=0)

In [14]:
my_features_model = turicreate.linear_regression.create(test_data, target='price', features=my_features, validation_set=None)

advanced_features_model = turicreate.linear_regression.create(test_data, target='price',features=advanced_features, validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 4229

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 75

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 1.072756     | 2578160.623199     | 174802.430243                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 4229

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 87

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 0.079633     | 2569550.507710     | 148337.551715                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

In [15]:
print(my_features_model.evaluate(test_data))
print(advanced_features_model.evaluate(test_data))

{'max_error': 2578160.623198718, 'rmse': 174802.43024318418}
{'max_error': 2569550.5077098943, 'rmse': 148337.55171503985}